*{
    margin : 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #121212;
    color : #fff;
}
.app{
    display:flex;
    height: calc(100vh - 90px);
}
.sidebar{
    background-color: black;
    width: 220px;
    padding: 20px;
}
.sidebar ul{
    margin-top: 30px;
}
.sidebar li{
    padding-bottom: 10px;
    cursor: pointer;
}
.sidebar li.active,
li.hover{
    color:  #1db954;
}
.main{
    flex:1;
    margin: 25px;
    overflow-y: auto;
}
.songs{
    display:grid;
}